.mail{
    width: 100%;
    margin-top: 50px;
    background-color: grey;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
  
  }
  
  .mailInputContainer>input{
    width: 300px;
    height: 30px;
    padding: 10px;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
   border: solid orange;
  }
  
  .mailInputContainer>button{
    height: 50px;
    background-color: rgb(209, 138, 5);
    color: black;
    font-weight: 900;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }