
  
  a {
    color: var(--text-color);
    text-decoration: none;;
  }
 .notify:hover {
     
     position: absolute;
    
 }
  /* Top Navigation Bar */
  
  /* <nav> */
  .navbarProfile {
    height: var(--nav-size);
    background-color: var(--bg);
    padding: 0 1rem;
    border-bottom: var(--border);
    z-index:10000;
    font-size: 1.3rem;
    margin-right: -200px;
  }
  
  /* <ul> */
  .navbar-navProfile {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;

    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /* <li> */
  .nav-itemProfile{
    width: calc(var(--nav-size) * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  
  /* Icon Button */
  .icon-button {
    --button-size: calc(var(--nav-size) * 0.5);
    width: var(--button-size);
    height: var(--button-size);
    background-color: whitesmoke;
    border-radius: 50%;
    padding: 7px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
  }
  
  .icon-button:hover {
    filter: brightness(1.2);
    background-color:#484a4d;
  }
  
  .icon-button svg { 
    fill: var(--text-color);
    width: 20px;
    height: 20px;
    
  }
  
  
  /* Dropdown Menu */
  
  .dropdown {

    z-index:100;
    
    position: absolute;
    top: 77px;
    right:-60px;
    width: 300px;
    transform: translateX(-45%);
    background-color: white;
    border: 1px solid grey;
    box-shadow: 
        inset 0px 11px 8px -10px #CCC,
        inset 0px -11px 8px -10px #CCC; 
    border-radius: var(--border-radius);
    padding: 1rem;
    
    transition: height var(--speed) ease;
  }
  
  .menu {
   border:'solid orange'
  }
  
  .menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
    border-top: 1px solid whitesmoke;
    box-shadow: 
        inset 0px 11px 8px -10px #CCC,
        inset 0px -11px 8px -10px #CCC; 
  }
  
  .menu-item .icon-button {
    margin-right: 0.5rem; 

  }
  
  
  .menu-item .icon-button:hover {
    filter: none;
  }
  
  .menu-item:hover {
    background-color: #525357;
   border: 1px solid orange;
  
  }
  
  .icon-right>* {
    padding-left: 40px;
    width: 1.5rem;
    height: 2rem;
    
  }
  
  /* CSSTransition classes  */
  .menu-primary-enter {
    position: absolute;
   /*  transform: translateX(310%); */
  }
  .menu-primary-enter-active {
    transform: translateX(100%);
    transition: all var(--speed) ease;
    visibility: hidden;
  }
  .menu-primary-exit {
    position: absolute;
    visibility: hidden;
  }
  .menu-primary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
  }
  
  
  .menu-secondary-enter {
    transform: translateX(10%);
  }
  .menu-secondary-enter-active {
    transform: translateX(0%);
    
  }
  .menu-secondary-exit {
     visibility: hidden;
     transition: 0.1ms linear;
  }
  .menu-secondary-exit-active {
    transform: translateX(0%);
    transition: 0.1ms;
  }
  